@import "tailwindcss";

* {
  transition: background-color 0.2s ease, color 0.2s ease;
}

body {
  font-family: 'Poppins', sans-serif;
}
@keyframes smoothFade {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-smoothFade {
  animation: smoothFade 0.7s ease-out;
}
@import url('https://unpkg.com/leaflet/dist/leaflet.css');


